.Header{
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #291B44;

    h1{
        color: aliceblue;
        font-size: 2rem;
        font-family: 'Bree Serif', serif;
    }
}